p {
    color: rgb(10, 0, 0);
}

/* div {
    background-color: rgba(30, 178, 197, 0.87);
} 

input {
     color: deepskyblue; 
     background-color: rgb(255, 0, 0); 
}

h4 {
     color: teal; 
}

button {
    color: rgba(0, 0, 0, 0.89);
    background-color: rgb(230, 222, 229);
}

h3 {
    background-color: rgb(25, 27, 170); 
}

p {
    background-color: rgb(25, 27, 170); 
}

h4 {
    background-color: rgb(25, 27, 170); 
}*/